.HomePageContainer{
    display:grid;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin:0 auto;
    background-color: rgba(213, 213, 213, 0.91);
    align-items: start;
}

.HomePageBody{
    width:100%;
    margin: 0 auto;
    display:grid;
    grid:
    "firstImg firstImg"
    "detectVideoInfo detectVideo"
    "workerImg workInfo"
    "cctvInfo cctvImg";
    align-content: center;
    align-items: center;
    justify-items: center;
}

.firstImgContainer{
    position: relative;
    grid-area: firstImg;
    width: 100%;
    height: 100%;
}

.firstImg {
    width: inherit;
    height: auto;
}

.textOverlay {
    position: absolute;
    top: 50%;  /* 可調整以改變文字在圖片中的位置 */
    left: 50%; /* 可調整以改變文字在圖片中的位置 */
    transform: translate(-50%, -50%);
    color: white; /* 例如 white, black 等 */
    font-size: 6rem;
    font-weight: bolder;
}

.detectVideo{
    grid-area: detectVideo;
    width: 100%;
    margin: 50px auto;
}

.homeTitle{
    font-size: 3rem;
}

.workInfo{
    grid-area: workInfo;
}

.workerImg{
    grid-area: workerImg;
    width: 100%;
}

.cctvInfo{
    grid-area: cctvInfo;
}
.cctvImg{
    grid-area: cctvImg;
    width: 100%;
}



@media (max-width: 600px) {
    .HomePageContainer{
        width: 100%;
    }
    .HomePageBody{
        width:100%;
        margin: 0 auto;
        grid:
            "firstImg"
            "detectVideoInfo"
            "detectVideo"
            "workerImg"
            "workInfo"
            "cctvImg"
            "cctvInfo";
    }
    .detectVideo {
        width: 100%;
    }
    .textOverlay {
        position: absolute;
        top: 50%;  /* 可調整以改變文字在圖片中的位置 */
        left: 30%; /* 可調整以改變文字在圖片中的位置 */
        transform: translate(-50%, -50%);
        color: white; /* 例如 white, black 等 */
        font-size: 2rem;
        font-weight: bolder;
    }
}